ul{
    background-color: rgb(241, 229, 229);
    
}

li{
    display: inline-block;
     margin-block-end: 10px;
     margin-top: 1%;
     margin-left: 1%;
     

}

a{
    color: rgb(73, 71, 69);
    text-decoration: none;
    margin-inline-end: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor:pointer;
}

li:hover{
    transform:scale(1.1);
    transition: .50s;
}


    